body {
    margin: 20px;
    font-family: inherit;
}

.avatar {
    width: 150px;
    border: 3px dotted #e07a5f;
    border-radius: 100px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #f2cc8f;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
    border-radius:20px;
    text-shadow: 1px 1px #6b705c;
}

div:hover {
    background-color: #d4a373;
}

.border-blue {
    border: 1px dotted blue;
}